<div class="row">
  <div class="span3">
	<%= render "form"%>
  </div>

  <div class="span6 order_right">
          <%= label_tag t "frames" %>
	  <%= image_tag 'picture_frame_types.png', size: "500x500"  %>'
  </div>
</div>
