<% if object.errors.any? %>
  <div id="error_explanation" class="alert alert-block">
    <h4><%= t".problem"%></h4>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
