// Place all the styles related to the picture_orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.order_right{ padding: 120px 0; }

div#photos{ border: 1px double silver }

label#price_before{ float:left; padding-right: 10px; color: red; font-size:24px}

label#price{ float:left; padding-right: 10px; color: red; font-size:24px }

label#price_after{ float: left; color: red; font-size:24px }

div#pr {padding-bottom: 70px;}

div#fr_type { font-size: 20px;  }

fieldset { border:none; }

legend { font-size:18px; margin:0px; padding:10px 0px; color:#b0232a; font-weight:bold;}

label { display:block; margin:15px 0 5px;}

.prev, .next { background-color:#b0232a; padding:5px 10px; color:#fff; text-decoration:none;}

.prev:hover, .next:hover { background-color:#000; text-decoration:none;}

.prev { float:left;}

.next { float:right;}

#steps { list-style:none; width:100%; overflow:hidden; margin:0px; padding:0px;}

#steps li {font-size:24px; float:left; padding:10px; color:#b0b1b3;}

#steps li span {font-size:11px; display:block;}

#steps li.current { color:#000;}

#makeWizard { background-color:#b0232a; color:#fff; padding:5px 10px; text-decoration:none; font-size:18px;}

#makeWizard:hover { background-color:#000;}
