// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.image{
	float:left;
	height: 270px;
	width: 180px;
	text-align: center;
	border: 4px double black;
	background-color: lightgrey;
}

div#picture{
	padding-top: 20px;
}

span#pic_name{
	display: block;
}

div#text{
	padding-top: 15px;
}
