<% title t @photo_picture.name %>

<%= paginate @photo_pictures %>
<% @photo_pictures.each do |picture| %>
   <div class = "image">
	<%= link_to photo_picture_picture_path(@photo_picture, picture) do%>
		<div class = "pic_name" > <%= picture.name %> </div>
		<%= image_tag picture.image_mini.to_s, size: "150x100" %>
	<% end %>
   </div>
<% end %>
